{% extends "base.html" %}

{% block content %}
  <nav>
    <a href="/">Home</a>
  </nav>

  <p>
    The 🌱 posts are seedling thoughts, while the 🌳 posts are fully grown.
    <br> Subscribe to my <a href="/rss.xml" target="_blank">RSS feed!</a>
  </p>

  <ul class="blog-posts">
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
    {% for page in section.pages %}
      <li>
        <span>
          <i>
            <time datetime={{ page.date }}>
              {{ page.date }}
            </time>
          </i>
        </span>
        <a href="{{ page.permalink | safe }}">{{ page.title }} {{ page.description }}</a>
      </li>

    {% endfor %}
  </ul>

{% endblock content %}
