{% extends "base.html" %}

{% block content %}
  <nav>
    <a href="/">Home</a>
    <a href="/curriculum">Curriculum</a>
    <a href="/blog">Blog</a>
  </nav>

  <h2>Colophon</h2>
  <p>Thanks to <a href="mailto:cboiteux@ucsb.edu">Clement Boiteux</a> for helping us maintain this page!</p>

  <p>Inspired by <a href="https://www.mlsys.ai/">MLSys</a> and <a href="https://tanaybiradar.com/">Tanay Biradar</a></p>

  <p>
    Written with the <a href="https://www.getzola.org">Zola</a>
    static site generator; the styles are derived from both
    <a href="https://bearblog.dev/">bearblog.dev</a> and
    <a href="https://stephango.com/flexoki">Flexoki</a>.
  </p>

  <p>
    The code for this website is
    <a href="https://github.com/data-science-ucsb/gaia-blog">open-source</a>.
  </p>

{% endblock content %}

