{% extends "base.html" %}

{% block content %}
  <nav>
    <a href="/">Home</a>
  </nav>

  <h2>Colophon</h2>

  <p>
    This website is written with the <a href="https://www.getzola.org">Zola</a>
    static site generator, and the styles are derived from both
    <a href="https://bearblog.dev/">bearblog.dev</a> and
    <a href="https://stephango.com/flexoki">Flexoki</a>.
  </p>

  <p>
    The code for this website is
    <a href="https://github.com/data-science-ucsb/gaia-blog">open-source</a>.
    Inspired by Tanay's <a href="https://tanaybiradar.com/">personal website</a>.
  </p>

{% endblock content %}

