{% extends "base.html" %}

{% block content %}

  <p>
    We're Gaucho AI Alignment, a student-led AI safety reading group at UC Santa Barbara.
    <br>
    Part of <a href="https://datascienceucsb.org">Data Science UCSB</a>!
  </p>

  <p>For the pilot edition of this group, we're focusing on large language models, mechanistic interpretability, and ethics.</p>

  
  <h2>Members</h2>
  <ul>
      <li>List</li>
      <li>Of</li>
      <li>Members</li>
  </ul>
  <p>Organized by <a href="mailto:tbiradar@ucsb.edu">Tanay Biradar</a>, <a href="mailto:mitaligaidhani@ucsb.edu">Mitali Gaidhani</a>, and <a href="mailto:dnaylor@ucsb.edu">Daniel Naylor</a></p>

{% endblock content %}

