{% extends "base.html" %}

{% block content %}
  <p>
    Welcome to Data Science UCSB's GAIA Blog! Here, you will find more
    information about what we'll do, resources for our activities, as
    well as our schedule for the quarter!
  </p>

  <p><b>About Us</b></p>
  <p>The GAIA (Gaucho AI Alignment) Reading Group at Data Science UCSB 
    is a group of about 15-20 experienced students who read papers about AI safety
    and discuss the methods used by professionals to ensure AI is
    regulated and maintained well.
  </p>


  <p><b>Resources</b></p>
  <ul>
    <li><a href="https://docs.google.com/forms/d/107d24kUAa40OGTinPPVlNR6XQ0iPtAVdmB_h13IwnB0/viewform" target="_blank">GAIA Reading Group Follow-Up (due 12/31!)</a></li>
    <li><a href="https://docs.google.com/document/d/1IoJcpIZZjEDstunv_iB3otk0MSSx-KzDkMubIo6mdq8" target="_blank">Schedule</a></li>
  </ul>

  Contact us <a href="mailto:datascience.ucsb@gmail.com">here</a> if you have any questions.

  <p class="handwritten">- Credits to Tanay, Daniel, Mitali, and Clement</p>
{% endblock content %}

